services:
  gerenciador-db:
    image: postgres:latest
    container_name: gerenciador-db
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123456
      - POSTGRES_DB=gerenciador_db

    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 90s

  api-spring:
    container_name: api-gerenciador-projeto
    build: .
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://gerenciador-db:5432/gerenciador_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=123456
    depends_on:
      gerenciador-db:
        condition: service_healthy

volumes:
  postgres-data-local:
